.header,
.hero,
.body,
.bar,
.footer {
  background-color: blueviolet;
  margin: 10px 0;
}
.box {
  background-color: aqua;
  min-height: 80px;
  margin: 10px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
